:root{
    --branco-principal: #FFFFFF;
    --cinza-secundário: #2b2b2b;
    --botão-roxo: #33025c;
    --cor-de-fundo: #000000;
    --fonte-principal: "Inter"
}

.body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
* {
    margin: 0%;
    padding: 0%;
}
.principal{
    background-image: url("Design sem nome.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    height: 100vh;
    color: var(--branco-principal);
    display: grid;
    grid-template-columns: 50% 50%;
}

.containerbotao{
    background-color: var(--botão-aroxo);
    border-radius: 5px;
    padding: 10px;
    color: var(--branco-principal);
    display: block;
}
.containerbotao2{
    background-color: transparent;
    border: 2px solid var(--branco-principal);

}
.container_aviso{
    font-size: 12px;
    color: var(--cinza-secundário);
}